name: Deploy to Pi 5

on:
  push:
    branches: [ "master" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Set executable permissions
        run: chmod +x gradlew #

      - name: Build with Gradle
        run: |
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk use java 23-open
          ./gradlew jar --daemon --parallel --build-cache --configuration-cache -x test
          
      - name: Restart Service
        run: sudo systemctl restart ballcatcher-application.service
