name: Deploy to Pi 5

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      
      - name: Build with Gradle
        run: |
          source "$HOME/.sdkman/bin/sdkman-init.sh"
          sdk use java 23-open
          ./gradlew clean build
          
      - name: Restart Service
        run: sudo systemctl restart ballcatcher
